@import './plugins/cookiecuttr';

@import 'variables';
@import 'fonts';

@import "~bootstrap/scss/bootstrap";


.row {
    background: #efefef;
    .col-3{
        background: green;
    }  

    margin: 10rem 0;  
    padding: 7rem 0;
}



