<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webpack workflow</title>
</head>
<body>

    {{> partials/header}}

    <h1>Webpack 4 Course</h1>
    <h2>Subtitle</h2>
    <p class="text-white font-cursive">Hola soy un parrafo!</p>
    <img src="static/img/kisuke-background.jpg" alt="">
    <div id="svg">
    <div class="content-suma"></div>
    <div class="element"></div>
</body>
</html>